

body {
  font-family: "Inter", sans-serif;
  background-color: #f4e7e1;
}


/* ---------- Título ---------- */


.cj-title {
  color: #521c0d;
  font-weight: 700;
}


.cj-subtitle {
  color: #6c757d;
}


/* ---------- Card ---------- */


.cj-form-card {
  border: none;
  border-radius: 18px;


  box-shadow: 0 10px 30px rgba(0, 0, 0, .08);


  transition: .25s ease;
}


.cj-form-card:hover {


  transform: translateY(-3px);


  box-shadow: 0 18px 45px rgba(0,0,0,.12);


}


/* ---------- Labels ---------- */


.form-label{


  color:#521c0d;


  font-weight:500;


}


/* ---------- Inputs ---------- */


.form-control{


  border-radius:12px;


  padding:.85rem 1rem;


  transition:.2s;


}


.form-control:focus{


  border-color:#FF9B45;


  box-shadow:0 0 0 .20rem rgba(255,155,69,.25);


}


/* ---------- Botão ---------- */


.cj-btn{


  background:#FF9B45;


  color:white;


  font-weight:600;


  border:none;


  border-radius:12px;


  padding:.85rem;


  transition:.25s;


}


.cj-btn:hover{


  background:#D5451B;


  color:white;


  transform:translateY(-1px);


}


/* ---------- Ícones ---------- */


.cj-icon{


  color:#FF9B45;


}


/* ---------- Responsividade ---------- */


@media (max-width:768px){


  .cj-form-card{


      border-radius:14px;


  }


}