a {
    color: inherit;
    text-decoration: none;
}

.card {
    height: 130px;
    border-radius: 4px;    
}

.card-text {
    max-width: 530px;
}

.card-body {
    background-color: var(--bs-light);
    color: #521c0d;
    border-radius: 4px;
}

.card-body-disabled {
    background-color: var(--bs-light);
    color: color-mix(in oklab, #521c0d 70%, white);
    border-radius: 4px;
    border: 1px solid color-mix(in oklab, #521c0d, white);
    background-color: color-mix(in oklab, #f4e7e1 95%, black);;
}

.card-link::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
    cursor: pointer;
    border: 1px solid #521c0d;
    border-radius: 4px;
    transition: border-color 200ms;
}

.card-link:focus {
    outline: none;
}

.card-link:hover::before,
.card-title:focus-visible::before {
    border-color: color-mix(in oklab, #521c0d 30%, white);
    border-radius: 4px;
    outline: none;
}

body {
    background-color: #f4e7e1;
    color: #521c0d;
    font-family: "Inter", system-ui, sans-serif;
}

:root {
    --bs-primary: #ff9b45;
    --bs-secondary: #d5451b;
    --bs-light: #f4e7e1;
    --bs-dark: #521c0d;
}

.form-select {
    background-color: #f4e7e1;
    border-color: #521c0d;
    color: #521c0d;
    border-radius: 18px;
    text-align: center;
}

.badge-disponivel {
    --bs-badge-padding-x: .6rem;
    --bs-badge-padding-y: .25rem;
    --bs-badge-font-size: .8rem;
    --bs-badge-font-weight: 600;
    --bs-badge-border-radius: .375rem;
    --bs-badge-color: #fff;


    background: #ff9b45;
    color: var(--bs-badge-color);
}

.badge-disponivel::before {
    content: "\f00c";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    display: inline-block;
    margin-right: 0.25rem;
}

.badge-indisponivel {
    --bs-badge-padding-x: .6rem;
    --bs-badge-padding-y: .25rem;
    --bs-badge-font-size: .8rem;
    --bs-badge-font-weight: 600;
    --bs-badge-border-radius: .375rem;
    --bs-badge-color: #f4e7e1;
    

    background: #d5451b;
    color: var(--bs-badge-color);
}

.badge-indisponivel::before {
    content: "\0058";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    display: inline-block;
    margin-right: 0.25rem;
}

.modal-content {
    color: #521c0d;
    background-color: #f4e7e1;
    border-color: #521c0d;
    border-radius: 4px;
}

.modal-header {
    border-color: #f4e7e1;
}

.modal-footer {
    border-color: #f4e7e1;
}


ul {
    list-style: none;
}

