.card-body-listar-itens {
    background-color: rgba(250, 239, 236, 0.911);
    color: #521c0d;
    border-radius: 4px;
    border:1px solid color-mix(in oklab, #521c0d 30%, white);
}

.card-body-disabled {
    background-color: var(--bs-light);
    color: color-mix(in oklab, #521c0d 70%, white);
    border-radius: 4px;
    border: 1px solid color-mix(in oklab, #521c0d 30%, white);
    background-color: color-mix(in oklab, #f4e7e1 95%, black);;
}

.body-listar-itens {
    background-color: #f4e7e1;
    color: #521c0d;
    font-family: "Inter", system-ui, sans-serif;
}

:root {
    --bs-primary: #ff9b45;
    --bs-secondary: #d5451b;
    --bs-light: #f4e7e1;
    --bs-dark: #521c0d;
}

.form-select-listar-itens {
    background-color: rgba(250, 239, 236, 0.911);
    border-color: color-mix(in oklab, #521c0d 30%, white);
    color: #521c0d;
    border-radius: 18px;
    text-align: center;
}

.badge-disponivel {
    --bs-badge-padding-x: .6rem;
    --bs-badge-padding-y: .25rem;
    --bs-badge-font-size: .8rem;
    --bs-badge-font-weight: 600;
    --bs-badge-border-radius: .375rem;
    --bs-badge-color: #fff;


    background: #ff9b45;
    color: var(--bs-badge-color);
}

.badge-disponivel::before {
    content: "\f00c";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    display: inline-block;
    margin-right: 0.25rem;
}

.badge-indisponivel {
    --bs-badge-padding-x: .6rem;
    --bs-badge-padding-y: .25rem;
    --bs-badge-font-size: .8rem;
    --bs-badge-font-weight: 600;
    --bs-badge-border-radius: .375rem;
    --bs-badge-color: #f4e7e1;
    

    background: #d5451b;
    color: var(--bs-badge-color);
}

.badge-indisponivel::before {
    content: "\0058";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    display: inline-block;
    margin-right: 0.25rem;
}

.list-style-listar-itens {
    list-style: none;
}

.titulo-pagina {
    font-weight: 700;
    font-size: 40px;
}

.titulo-card {
    font-weight: 600;
    font-size: 20px
}

.texto-card {
    font-weight: 400;
    font-size: 16px;
}
